body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active {
  position: fixed;
  top: 30%;
  left: 35%;
  max-height: none !important;
  z-index: 100;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  pointer-events: none;
}