body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active {
  position: fixed;
  top: 30%;
  left: 30%;
  max-height: none !important;
  z-index: 100;
  height: 50%;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  pointer-events: all;
}

.showMoreButton:hover {background-color: #3e8e41 !important}

.showMoreButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666 !important;
  transform: translateY(4px);
}